.option-container {
  &__main-div {
    &__videosImg {
      animation-name: fadingIn !important;
      animation-duration: 1.5s !important;
      animation-timing-function: ease-in-out !important;
      animation-fill-mode: forwards !important;
    }
  }
  &__single-video {
    position: absolute;
    width: 12vw;
    height: 60vh;
    bottom: -90vh;
    left: calc(var(--number) * 12.8vw + 1.5vw);
    animation-name: videoCardTransition;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: calc((7 - var(--number)) * 100ms);
    img {
      height: 100%;
      width: 100%;
    }
  }
}

@keyframes videoCardTransition {
  0% {
    bottom: -90vh;
  }
  100% {
    bottom: 13vh;
  }
}
